body{
    background-color: #2E2EFE;
  
}

h1{
    color: #2E2EFE;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
    
}
.main-container{
    background-color: #ffffff;
    width: 500px;
    height: 570px;
    border-radius: 10px;
    
    align-items: center;
    justify-content: center;
    margin-left: 30%;

    
}

main-form{
    
    text-align: center
}
label{
    background-color:  ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    padding-left: 100px;
    text-align: left;

    display: block;
    margin-bottom: 10px;

}


label:hover{
    font-family: Arial, Helvetica, sans-serif;
    
}
input{
    border: solid 0.1px #6E6E6E;
    border-radius: 5px;

    width: 60%;
    height: 2.5rem;

}

input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

input:invalid{
    border: 0.1 solid #2E2EFE
}


.main-fieldset{
    background-color: #ffffff;
    
  
}

div{
    margin-top: 2%;
}


#btn-dark-mode{
    background-color: #ffffff ;
    color: #000000;
    border-radius: 10px;
    border-color: 0px;
    padding: 10px 40px 10px 40px;

    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    float: right;
}

button[type="submit"]{
    background-color: #2E2EFE;
    color: #ffffff;
    border-radius: 10px;
    border-color: #2E2EFE;
    padding: 10px 40px 10px 40px;

    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;

}
